{% extends 'base.html.twig' %}

{% block page_content_body %}
<div class="row">
    <div class="col"></div>
    <div class="col-md-6 col-lg-5">
        {{ form_start(form) }}

        <div class="row">
            <div class="col-3">{{ form_row(form.purchaseDate, {
                    'attr': {
                        'autofocus': 'autofocus',
                        'class': 'text-center',
                    }}) }}</div>
            <div class="col"></div>
            <div class="col-6">{{ form_row(form.storageLocation, {'attr': {'class': 'select2field'}}) }}</div>
        </div>
        <div class="row">
            <div class="col-10">{{ form_row(form.product) }}</div>
            <div class="col-2">
                <div class="form-group">
                    <label for="cameraBtn">{{ 'app.supplies.article.button.camera'|trans }}</label>
                    <label id="cameraBtn" class="btn btn-default">
                        <input type="file" accept="image/*" capture="camera" id="camera-input" hidden>
                        {{ 'app.supplies.article.button.capture'|trans }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">{{ form_row(form.bestBeforeDate, {'attr': {'class': 'text-center'}}) }}</div>
            {% if article is not defined %}
                <div class="col-3">{{ form_row(form.quantity, {'attr': {'class': 'text-center'}}) }}</div>
            {% endif %}
        </div>
        {% if article is defined %}
        <hr>
        <div class="row">
            <div class="col-4 ml-auto">{{ form_row(form.withdrawalDate, {'attr': {'class': 'text-center'}}) }}</div>
            <div class="col-4 mr-auto">{{ form_row(form.discardDate, {'attr': {'class': 'text-center'}}) }}</div>
        </div>
        {% endif %}

        <div class="row mt-5">
            <div class="col-6">
                {% if article is defined %}
                    {% set targetUrl = path('app_supplies_article_show', {id: article.id}) %}
                {% else %}
                    {% set targetUrl = path('app_supplies_article_index') %}
                {% endif %}

                {% include '_button_cancel.html.twig' with {
                    'targetUrl': targetUrl,
                } %}
            </div>
            <div class="col-6 text-right">
                {% include '_button_submit.html.twig' %}
            </div>
        </div>
    {{ form_end(form) }}

    </div>
    <div class="col-md"></div>
</div>
{% endblock page_content_body %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('forms') }}
    {{ encore_entry_script_tags('barcode-scanner') }}
{% endblock javascripts %}

{% block javascripts_inline %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('.select2field').select2({
                theme: 'bootstrap4',
                width: '100%',
            });

            let productSelect = $('#article_new_product');

            productSelect.select2({
                theme: 'bootstrap4',
                placeholder: '',
                ajax: {
                    dataType: 'json',
                    url: productSelect.data('json-url'),
                    delay: 250,
                }
            });

            addBarcodeListenerAndUpdateSelect2field("camera-input", productSelect);

            {% if autoFocusProductSelect is defined %}
                productSelect.select2('open');
            {% endif %}
        });
    </script>
{% endblock javascripts_inline %}