{% extends 'base.html.twig' %}

{% block page_content_body %}
<div class="row">
    <div class="col"></div>
    <div class="col-md-5 col-lg-4">
        {{ form_start(form) }}

        <div class="row">
            <div class="col-8">
                {{ form_row(form.storageLocation, {'attr': {'class': 'select2field'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ form_row(form.name, {'attr': {'autofocus': 'autofocus'}}) }}
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-6">
                {% if stocktaking is defined %}
                    {% set targetUrl = path('app_supplies_stocktaking_show', {id: stocktaking.id}) %}
                {% else %}
                    {% set targetUrl = path('app_supplies_stocktaking_index') %}
                {% endif %}

                {% include '_button_cancel.html.twig' with {
                    'targetUrl': targetUrl,
                } %}
            </div>
            <div class="col-6 text-right">
                {% include '_button_submit.html.twig' %}
            </div>
        </div>
    {{ form_end(form) }}

    </div>
    <div class="col-md"></div>
</div>
{% endblock page_content_body %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('forms') }}
{% endblock javascripts %}