{% extends 'base-with-footer.html.twig' %}

{% block page_content_body %}
    <div class="row">
        <div class="col"></div>
        <div class="col-md-11 col-lg-9">
            <!-- This div is used for the Datatables content -->
            <div id="inventoryItems">Loading...</div>
        </div>
        <div class="col"></div>
    </div>
{% endblock page_content_body %}

{% block page_content_footer_body %}
    {% include '_button_delete_form.html.twig' with {
        'targetUrl': path('app_supplies_stocktaking_delete', {'id': stocktaking.id}),
        'confirmMessage': 'app.supplies.stocktaking.form.delete.confirm'|trans({'name': stocktaking.name}),
        'csrfToken': csrf_token('delete_stocktaking_' ~ stocktaking.id),
    } %}
{% endblock page_content_footer_body %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('datatables') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('datatables') }}
{% endblock javascripts %}

{% block javascripts_inline %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(document).ready(function() {
            let dataTable = null;

            $('#inventoryItems').initDataTables({{ datatable_settings(datatable) }})
                .then(function(dt) {
                    dataTable = dt;

                    // remember to use event delegation by providing selector
                    // for target element as a second argument in on() call
                    // see: https://www.gyrocode.com/articles/jquery-datatables-why-click-event-handler-does-not-work/

                    dataTable.on("click", ".stocktakingBtn", function(){
                        $(".stocktakingBtn").prop("disabled", true);
                        let button = $(this);
                        let updateUrl = button.data('update-url');

                        $.ajax({
                            url: updateUrl,
                            type: "POST",
                            dataType: 'json',
                            data: {
                                'inventory_item': {
                                    'status': button.data('value')
                                }
                            },
                            success: function (data) {
                                if(data.status === "success") {
                                    dataTable.draw();

                                    $(document).Toasts('create', {
                                        class: 'bg-success',
                                        body: data.message,
                                        autohide: true,
                                        delay: 3000,
                                        icon: 'fas fa-check fa-lg',
                                    });
                                }else if(data.status === "error") {
                                    $(document).Toasts('create', {
                                        class: 'bg-danger',
                                        body: data.message,
                                        autohide: true,
                                        delay: 4000,
                                        icon: 'fas fa-exclamation fa-lg',
                                    });
                                }
                            }
                        });
                    });
                });


        });
    </script>
{% endblock javascripts_inline %}