<li class="nav-header">{{ 'app.supplies.title'|trans|upper }}</li>
<li class="nav-item {% if app.request.pathInfo starts with path('app_supplies_components_index') %}menu-open{% endif %}">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-cubes"></i>
        <p>{{ 'app.supplies.components.title'|trans|title }} <i class="right fas fa-angle-left"></i></p>
    </a>
    <ul class="nav nav-treeview" style="display: {% if app.request.pathInfo starts with path('app_supplies_components_index') %}block{% else %}none{% endif %};">
        <li class="nav-item">
            <a href="{{ path('app_supplies_brand_index') }}" class="nav-link {% if app.request.pathInfo starts with path('app_supplies_brand_index') %}active{% endif %}">
                <i class="nav-icon fas fa-copyright"></i>
                <p>{{ 'app.supplies.brands.title'|trans|capitalize }}</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_supplies_storagelocation_index') }}" class="nav-link {% if app.request.pathInfo starts with path('app_supplies_storagelocation_index') %}active{% endif %}">
                <i class="nav-icon fas fa-warehouse"></i>
                <p>{{ 'app.supplies.storagelocations.title'|trans|capitalize }}</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="{{ path('app_supplies_commodity_index') }}" class="nav-link {% if app.request.pathInfo starts with path('app_supplies_commodity_index') %}active{% endif %}">
        <i class="nav-icon fas fa-cubes"></i>
        <p>{{ 'app.supplies.commodities.title'|trans|capitalize }}</p>
    </a>
</li>
