{% extends 'base.html.twig' %}

{% block page_content_body %}
<div class="row">
    <div class="col"></div>
    <div class="col-md-6 col-lg-5">
        {{ form_start(form) }}

        <div class="row">
            <div class="col-12">
                {{ form_row(form.name, {'attr': {'autofocus': 'autofocus'}}) }}
                {{ form_row(form.category) }}

                <h5 class="mt-4 mb-4">{{ 'app.supplies.commodity.minimumstocks.title'|trans|capitalize }}</h5>

                {% set minimumStockHtml = include('supplies/commodity/_form_minimum_stock.html.twig', { 'item': form.minimumStocks.vars.prototype }) %}
                <div class="js-minimum-stock-wrapper"
                    data-index="{{ form.minimumStocks|length > 0 ? form.minimumStocks|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ minimumStockHtml|e('html_attr') }}">
                    {% for minimumStockForm in form.minimumStocks %}
                        {{ include('supplies/commodity/_form_minimum_stock.html.twig', { 'item': minimumStockForm }) }}
                    {% endfor %}

                    <a href="#" class="js-minimum-stock-add">
                        <span class="icon text mr-1">
                            <i class="far fa-plus-circle"></i>
                        </span>
                        <span class="text">{{ 'app.add'|trans|capitalize }}...</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6">
                {% if commodity is defined %}
                    {% set targetUrl = path('app_supplies_commodity_show', {id: commodity.id}) %}
                {% else %}
                    {% set targetUrl = path('app_supplies_commodity_index') %}
                {% endif %}

                {% include '_button_cancel.html.twig' with {
                    'targetUrl': targetUrl,
                } %}
            </div>
            <div class="col-6 text-right">
                {% include '_button_submit.html.twig' %}
            </div>
        </div>
    {{ form_end(form) }}

    </div>
    <div class="col-md"></div>
</div>
{% endblock page_content_body %}

{% block javascripts_inline %}
    {{ parent() }}

    <script type="text/javascript">
        // original source: https://symfonycasts.com/screencast/collections/add-new-collection-prototype
        jQuery(document).ready(function() {
            let $wrapper = $('.js-minimum-stock-wrapper');

            $wrapper.on('click', '.js-remove-minimum-stock', function(e) {
                e.preventDefault();
                $(this).closest('.js-minimum-stock-item')
                    .fadeOut()
                    .remove();
            });
            $wrapper.on('click', '.js-minimum-stock-add', function(e) {
                e.preventDefault();
                // Get the data-prototype explained earlier
                let prototype = $wrapper.data('prototype');
                // get the new index
                let index = $wrapper.data('index');
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                let newForm = prototype.replace(/__name__/g, index);
                // increase the index with one for the next item
                $wrapper.data('index', index + 1);
                // Display the form in the page before the "new" link
                $(this).before(newForm);
            });
        });
    </script>
{% endblock javascripts_inline %}