{% extends 'base-with-footer.html.twig' %}

{% block page_content_body %}
<div class="row">
    <div class="col"></div>
    <div class="col-md-5 col-lg-4">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'form.commodity.name'|trans|capitalize }}</label>
                    <div>{{ commodity.name }}</div>
                </div>
                <div class="form-group">
                    <label>{{ 'form.commodity.category'|trans|capitalize }}</label>
                    <div>{{ commodity.category.name|default('-')|trans }}</div>
                </div>
            </div>
        </div>

        <h5 class="mt-4 mb-4 text-center">{{ 'app.supplies.commodity.minimumstocks.title'|trans|capitalize }}</h5>

        {% for minimumStock in commodity.minimumStocks %}
        <div class="row mt-2 mb-2">
            <div class="col"></div>
            <div class="col-6">
                {{ minimumStock.storageLocation.name|default('-')|trans }}
            </div>
            <div class="col-2 text-right">
                {{ minimumStock.count|default('-') }}
            </div>
            <div class="col"></div>
        </div>
        <hr>
        {% endfor %}

        <div class="row mt-5">
            <div class="col-6">
                {% include '_button_back.html.twig' with {
                    'targetUrl': path('app_supplies_commodity_index'),
                } %}
            </div>
            <div class="col-6 text-right">
                {% include '_button_edit.html.twig' with {
                    'targetUrl': path('app_supplies_commodity_edit', {id: commodity.id}),
                } %}
            </div>
        </div>

    </div>
    <div class="col-md"></div>
</div>
{% endblock page_content_body %}

{% block page_content_footer_body %}
    {% include '_button_delete_form.html.twig' with {
        'targetUrl': path('app_supplies_commodity_delete', {'id': commodity.id}),
        'confirmMessage': 'app.supplies.commodity.form.delete.confirm'|trans({'name': commodity.name}),
        'csrfToken': csrf_token('delete_commodity_' ~ commodity.id),
    } %}
{% endblock page_content_footer_body %}
